<html>
    <head>
        <title>Interest Calculation Form</title>
        </head>
        <body>
            <form method="post" action="/Greeter/Greet">
            <b>Principle: </b>

            <input type="text" name="p" required="required"/>
            <br>
            <b>Rate:</b>
            <input type="text" name="r" required="required"/>
             <br>
            <b>period:</b>
            <input type="text" name="n" required="required"/>
            <br>
             <input type="submit" value="Calculate"/>
        </form>
    </body>
</html>